<app-nav-bar></app-nav-bar>
<br />
<mat-form-field class="mat-form">
  <mat-label>Filter</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ingrese el dato a filtrar"
    #input
  />
</mat-form-field>
<br />
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id del cliente</th>
      <td mat-cell *matCellDef="let row" (click)="openDialogOrderReview(row)">
        {{ row.user_id }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cliente</th>
      <td mat-cell *matCellDef="let row" (click)="openDialogOrderReview(row)">
        {{ row.name }} {{ row.lastname }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Correo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
      <td mat-cell *matCellDef="let row" (click)="openDialogOrderReview(row)">
        {{ row.email }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Direccion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
      <td mat-cell *matCellDef="let row" (click)="openDialogOrderReview(row)">
        {{ row.address_detail }} {{ row.address }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Compras">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Cantidad de botellones acumulados
      </th>
      <td mat-cell *matCellDef="let row" (click)="openDialogOrderReview(row)">
        {{ row.count }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Pedido" class="form-field">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <mat-icon (click)="createOrder(row.user_id)" matTooltip="Crear pedido "
          >shopping_cart</mat-icon
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="Eliminar" class="form-field">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <mat-icon (click)="deleteCustomer(row.user_id)" matTooltip="Eliminar"
          >delete</mat-icon
        >
      </td>
    </ng-container>
    <ng-container matColumnDef="Historial" class="form-field">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let row">
        <mat-icon
          matTooltip="Historial de pedidos"
          (click)="openDialogOrderHistory(row)"
          >list</mat-icon
        >
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="titles"></tr>
    <tr mat-row *matRowDef="let row; columns: titles"></tr>
  </table>
</div>
<br />
<br />
<div>
  <button
    mat-raised-button
    color="primary"
    style="position: fixed"
    (click)="createCustomer()"
  >
    Crear Cliente
  </button>
</div>
