// * {
//   padding: 0;
//   margin: 0;
// }
// table {
//   width: 100%;
//   position: relative;
// }
// .float {
//   position: fixed;
//   width: 120px;
//   height: 60px;
//   bottom: 40px;
//   right: 40px;
//   background-color: grayscale($color: #000000);
//   color: #fff;
//   border-radius: 10px;
//   size: 40px;
//   text-align: center;
//   box-shadow: 2px 2px 3px #999;
// }
// .row {
//   padding: 30px;
// }
// .form-field {
//   display: flex;
//   // align-items: flex-start;
//   justify-content: space-between;
// }
.mat-form {
  width: 100%;
}
