<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <img class="logo" src="/assets/logo_manantial.png" />
</nav>
<div class="container">
  <div class="abs-center">
    <form action="#" class="border p-5 form">
      <div class="form-group">
        <h1 class="justify-content-center">Inicio de sesión</h1>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control my-3"
          placeholder="Correo electrónico"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          name="password"
          id="password"
          class="form-control my-3"
          placeholder="Contraseña"
        />
      </div>
      <div>
        <button class="btn btn-primary my-3" (click)="logIn()">
          Iniciar Sesión
        </button>
        <a class="btn btn-secondary my-3 mx-2"> Olvidaste tu contraseña </a>
      </div>
    </form>
  </div>
</div>
