* {
  padding: 50;
  margin: 100;
}
table {
  width: 100%;
}
// .float {
//   position: fixed;
//   width: 120px;
//   height: 60px;
//   bottom: 40px;
//   right: 40px;
//   background-color: grayscale($color: #000000);
//   color: #fff;
//   border-radius: 10px;
//   size: 40px;
//   text-align: center;
//   box-shadow: 2px 2px 3px #999;
// }
// .row {
//   padding: 30px;
//   width: 100%;
//   height: 100%;
// }
// .my-custom-backdrop {
//   background-color: rgba(0, 0, 0, 0.5);
// }
.mat-elevation-z8 {
  background-color: blue;
}
.mat-form {
  width: 100%;
}
.example-tab-icon {
  margin-right: 8px;
}
