<app-nav-bar></app-nav-bar>
<!-- Modificacion secciones <p class="text-secondary mb-1">Sin pedidos Recientes</p>-->

<div>
  <h1 align="center">Home clientes</h1>
</div>

<div *ngIf="loadingComponent">

</div>
<div *ngIf="configComponent">
  &nbsp;
  <div>
    <div class="container">
      <div class="main-body">
        <div class="row gutters-sm">
          <div class="col-md-12">

              <div class="btn-container">
                <button class="btn" (click)="addTab()">
                  Añadir nueva sección
                </button>
              </div>
            &nbsp;
            <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="onTabSelectionChange($event)">
              <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab">
                <ng-template mat-tab-label>
                  <mat-icon>collections</mat-icon>
                  &nbsp;
                  <h5>Sección {{ tab }}</h5>
                </ng-template>
                <div class="card mb-3">
                  <div class="card-body">
                    <form [formGroup]="seccionFormGroup">
                      <mat-form-field class="mat-form-100">
                        <mat-label>Título de la sección</mat-label>
                        <input
                          matInput
                          type="text"
                          placeholder="titulo"
                          formControlName="titulo_seccion"
                        />
                      </mat-form-field>
                      <mat-form-field class="mat-form-100">
                        <mat-label>description</mat-label>
                        <textarea matInput
                        formControlName="descripcion"
                        ></textarea>
                      </mat-form-field>
                      <div class="btn-container">
                        <mat-form-field class="mat-form-2 opacity-form">
                          <mat-label>Opacamiento de la imagen</mat-label>
                          <input matInput formControlName="opacity" type="number" min="0" max="100"/>
                          <mat-hint align="start">Introduce un valor de opacidad entre 0 y 100.</mat-hint>
                        </mat-form-field>
                        <mat-form-field class="mat-form-2">
                          <mat-label>Posición de la sección</mat-label>
                          <input
                            matInput
                            formControlName="posicion"
                            type="number"
                          />
                        </mat-form-field>
                        <div class="visible-form mat-form-2">
                          <mat-checkbox id="visible" formControlName="visible">Sección Visible para el Cliente</mat-checkbox>
                        </div>
                      </div>
                      <div class="btn-container">
                        <mat-form-field class="mat-form-3">
                          <mat-label>Url de la Imagen</mat-label>
                          <input
                            matInput
                            type="url"
                            placeholder="Url de la Imagen"
                            formControlName="image"
                          />
                        </mat-form-field>
                        <div class="visible-form mat-form-2">
                          <a mat-raised-button color="primary" (click)="cargarImagen()">Cargar Imagen</a>
                        </div>
                        
                      </div>
                    </form>
                    <p class="text-secondary mb-1">Previsualización imagen</p>
                    <img [src]=seccionSelected.image alt="Avatar" class="container-img">
                    <div class="btn-container">
                      <a mat-raised-button color="primary" (click)="guardarSeccion()">Guardar cambios</a>
                      <a mat-raised-button color="warn" [disabled]="tabs.length === 1" (click)="removeTab(index)">Borrar Sección</a>
                    </div>
                    <hr />
                    <div class="row">
                      <div class="col-sm-12">
                        <button class="btn" (click)="previsualizarHome()">
                          Previsualizar home de clientes
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="viewHomeClientes">
  <div class="cart-items " [class.open]="isPrevisualizarOpen">
    <body>
      <div class="div-block-principal">
        <div class="w-layout-grid grid-container">
          <div class="div-block-49">
            <button class="btn2" (click)="salirprevisualizarHome()">
              Salir Previsualizar home
            </button>
          </div>
        </div>
      </div>
      
      <div *ngFor="let section of sectionList; let i = index" >
        <ng-container *ngIf="section.visible; else hiddenSection">
          <div style="color: #777; background-color: white; text-align: center; padding: 50px 80px; text-align: justify;">
            <h3 style="text-align: center;">{{ section.home_tittle }}</h3>
            <p>{{ section.description }}</p>
          </div>
        
          <div class="bgimg-4" [style.opacity]="section.opacity" [style.backgroundImage]="backgroundImages[i]">
            <div class="caption">
            </div>
          </div>
        </ng-container>
        <ng-template #hiddenSection>
          <div style="color: #777; background-color: white; text-align: center; padding: 50px 80px; text-align: justify;">
            <h3 style="text-align: center;"><p class="no-visible"> (Sección no visible)</p> {{ section.home_tittle }} </h3>
            <p>{{ section.description }}</p>
          </div>
        
          <div class="bgimg-4" [style.opacity]="section.opacity" [style.backgroundImage]="backgroundImages[i]">
            <div class="caption">
              <p class="no-visible"> (Sección no visible)</p>
            </div>
          </div>
        </ng-template>
      </div>
      
    </body>
  </div>
</div>


