
.container {
  box-sizing: border-box;
  top: -4rem;
  padding-left: var(--tds-spacing-6);
  padding-right: var(--tds-spacing-6);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: auto;
  text-align: center;
}
.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  //background: #0d6efd;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.counter {
  padding: 22px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgb(31 45 61 / 13%);
}

.btn {
  color: var(--bs-btn-hover-color);
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 60%;
  margin-right: 30px;
  margin-left: 30px;
}
.btn2 {
  color: var(--bs-btn-hover-color);
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: white;
  text-align: center;
  cursor: pointer;
  width: 80%;
  margin-right: 30px;
  margin-left: 30px;
}
.cart-items {
  display: none;
}

.cart-items.open {
  display: block;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
  z-index: 9999; /* Asegura que el overlay se muestre por encima de otros elementos */
}

.full-width {
  flex: 0 0 100%;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 33.33333%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px
  
}

.rowPromoBox {
  margin: 0 -5px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.cardButton {
  padding: 16px;
  text-align: center;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.finalizar-button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #0d6efd;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-bottom: 0px;
}

.mat-form {
  width: 50%;
}

.button-container {
  display: flex;
  justify-content: space-between; /* Alinea los botones en los extremos */
  gap: 10px; /* Agrega espacio entre los botones */
}

* {
  padding: 50;
  margin: 100;
}
table {
  width: 100%;
}
.mat-elevation-z8 {
  background-color: blue;
}
.mat-form {
  width: 50%;
}
.mat-form-100 {
  width: 100%;
}
.example-tab-icon {
  margin-right: 8px;
}
.mat-tab-label .mat-tab-label-content { 
  font-size: 24px;
  font-family: 'Arial', sans-serif;
}
.mat-tab-group {
  margin-bottom: 48px;
}
.button {
    text-align: center;
    cursor: pointer;
    width: 80%;
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media (min-width: 1400px){
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    width: 100%;
    //max-width: 1348px;
  }
}
.div-block-principal {
  position: fixed;
  right: 0;
  //bottom: 0;
  z-index: 10;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinea los elementos a la derecha */
  padding: 20px;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinea el texto a la derecha */
  margin-bottom: 10px; /* Agrega espacio entre el texto y el botón */
}

.text {
  font-size: 18px; /* Ajusta el tamaño del texto según tus preferencias */
}

.div-block-49 {
  padding: 10px;
  border-radius: 11px;
  background-color: #0d6efd;
  opacity: 0.7;
}

.socialmedia-icon {
max-width: 100%;
vertical-align: middle;
display: inline-block;
}

.socialmedia-icon:hover {
-ms-transform: scale(1.2);
-webkit-transform: scale(1.2);
transform: scale(1.2); 
}

.w-inline-block {
max-width: 100%;
display: inline-block;
}

.blank-section {
--bg-overlay-color: transparent;
--bg-gradient: none;
height: 100%;
width: 100%;
//min-width: 980px;
}

.bgimg-4 {
position: relative;
//opacity: 0.65;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 800px; /* Ajusta la altura según tus necesidades */
}
.caption {
position: absolute;
left: 0;
top: 50%;
width: 100%;
text-align: center;
color: #000;
}

.caption span.border {
background-color: #111;
color: #fff;
padding: 18px;
font-size: 25px;
letter-spacing: 10px;
}
.container-img {
  max-width: 100%; /* La imagen no puede ser más ancha que su contenedor */
  max-height: 100%; /* La imagen no puede ser más alta que su contenedor */
  width: auto; /* Ajustar el ancho automáticamente */
  height: auto; /* Ajustar la altura automáticamente */
}

.mat-form-2 {
  //display: flex;
  align-items: center;
  width: 33.3333%;
}
.mat-form-3 {
  //display: flex;
  align-items: center;
  width: 66.6666%;
}
.visible-checkbox {
  margin-left: auto; /* Esto mueve el checkbox hacia la derecha */
}
.opacity-form {
  justify-content: flex-start;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 0 10px;
}

.no-visible {
  color: red; /* Cambia el color a azul */
}