<app-nav-bar></app-nav-bar>
<div fxLayout="row" fxLayoutGap="20px">
  <div fxFlex="50%">
    <mat-accordion>
      <mat-expansion-panel *ngIf="!customerSelected">
        <mat-expansion-panel-header>
          Seleccione el Cliente ⬇️ 
        </mat-expansion-panel-header>
        <br />
        <mat-form-field class="mat-form">
          <mat-label>Filter</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Ingrese el dato a filtrar"
            #input
          />
        </mat-form-field>
        <form [formGroup]="firstFormGroup">
          <div
            class="mat-elevation-z8"
            style="max-height: 500px; overflow: auto"
          >
            <table mat-table [dataSource]="dataSourceUser" matSort>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Nombre del cliente
                </th>
                <td
                  mat-cell
                  *matCellDef="let row"
                  (click)="selectCustomer(row)"
                  matStepperNext
                >
                  {{ row.name }}
                </td>
              </ng-container>
              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Apellido del cliente
                </th>
                <td
                  mat-cell
                  *matCellDef="let row"
                  (click)="selectCustomer(row)"
                  matStepperNext
                >
                  {{ row.lastname }}
                </td>
              </ng-container>
              <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Dirección del cliente
                </th>
                <td
                  mat-cell
                  *matCellDef="let row"
                  (click)="selectCustomer(row)"
                  matStepperNext
                >
                  {{ row.address_detail }} {{ row.address }}
                </td>
              </ng-container>
              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Teléfono del cliente
                </th>
                <td
                  mat-cell
                  *matCellDef="let row"
                  (click)="selectCustomer(row)"
                  matStepperNext
                >
                  {{ row.phone }}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel *ngIf="customerSelected">
        <mat-expansion-panel-header>
          Seleccione los Productos ⬇️ 
        </mat-expansion-panel-header>
        <form [formGroup]="secondFormGroup">
          <div
            class="mat-elevation-z8"
            style="max-height: 500px; overflow: auto"
          >
            <table mat-table [dataSource]="dataSourceProduct" matSort>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Nombre del producto
                </th>
                <td
                  mat-cell
                  *matCellDef="let row"
                  (click)="selectProduct(row)"
                  matStepperNext
                >
                  {{ row.name }}
                </td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Descripción
                </th>
                <td
                  mat-cell
                  *matCellDef="let row"
                  (click)="selectProduct(row)"
                  matStepperNext
                >
                  {{ row.description }}
                </td>
              </ng-container>
              <ng-container matColumnDef="value">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  Valor del producto
                </th>
                <td
                  mat-cell
                  *matCellDef="let row"
                  (click)="selectProduct(row)"
                  matStepperNext
                >
                  {{ row.value }}
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="displayedColumnsproduct"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedColumnsproduct"
              ></tr>
            </table>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <!-- cdkFocusInitial -->
  <mat-divider [vertical]="true" class="divider"></mat-divider>
  <div fxFlex="50%">
    <div class="header">
      <h1>Tu Pedido</h1>
    </div>
    <h5>
      Cliente : {{ orderModel.customer.name }}
      {{ orderModel.customer.lastname }}
    </h5>
    <h5>
      Dirección : {{ orderModel.customer.address_detail }}
      {{ orderModel.customer.address }}
    </h5>
    <mat-table
      mat-table
      [dataSource]="dataSourceProductOrder"
      matSort
      class="table"
    >
      <ng-container matColumnDef="nameProduct">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Nombre del producto
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.name }}
        </td>
      </ng-container>
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Valor Unitario
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.value }}
        </td>
      </ng-container>
      <ng-container matColumnDef="cant">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Cantidad Solicitada
        </th>
        <td mat-cell *matCellDef="let row">
          {{ row.product_cant }}
        </td>
      </ng-container>
      <ng-container matColumnDef="subtotal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Sub Total</th>
        <td mat-cell *matCellDef="let row">
          {{ row.value * row.product_cant }}
        </td>
      </ng-container>
      <ng-container matColumnDef="deleteProduct">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <a class="trashProduct" (click)="removeProduct(row)"
            ><i class="bi bi-trash"></i
          ></a>
          <a class="addProduct" (click)="addCant(row)"
            ><i class="bi bi-cart-plus-fill"></i
          ></a>
          <a class="removeProduct" (click)="removeCant(row)"
            ><i class="bi bi-cart-dash-fill"></i
          ></a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumnsProductOrder"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsProductOrder"
      ></tr>
    </mat-table>
    <h4>Total Pedido : {{ getTotalValues() }}</h4>
    <br />

    <div>
      <button
        mat-fab
        extended
        color="primary"
        style="position: fixed"
        (click)="createOrder()"
        *ngIf="productsModel.length > 0"
      >
        <mat-icon>add_shopping_cart</mat-icon>
        Guardar Pedido
      </button>
    </div>
  </div>
</div>

<!-- mat-button -->

<!-- <ul>
      <li *ngFor="let product of productsModel">
        {{ product.product_id }} - Cantidad: {{ product.product_cant }}
        <button mat-icon-button color="warn" (click)="removeQuantity(product)">
          <mat-icon>remove</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          (click)="addQuantity(product)"
          class="button"
        >
          <mat-icon>add</mat-icon>
        </button>
      </li>
    </ul> -->
