<app-nav-bar></app-nav-bar>
<div class="container" fxLayout="column">
  <div class="header">
    <h1>Información de agua manantial</h1>
  </div>
  <br />
  <form [formGroup]="formGroup" class="form">
    <mat-form-field class="mat-form">
      <mat-label>Quiénes somos</mat-label>
      <textarea
        matInput
        formControlName="description"
        [(ngModel)]="info.description"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="mat-form">
      <mat-label>Visión</mat-label>
      <textarea
        matInput
        formControlName="vision"
        [(ngModel)]="info.vision"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="mat-form">
      <mat-label>Misión</mat-label>
      <textarea
        matInput
        formControlName="mision"
        [(ngModel)]="info.mision"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="mat-form">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone" [(ngModel)]="info.phone" />
    </mat-form-field>
    <mat-form-field class="mat-form">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" [(ngModel)]="info.email" />
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        color="primary"
        style="position: fixed"
        (click)="updateInfo()"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
