.chart-container {
  max-width: 70%;
  max-height: 70%;
  display: block;
  box-sizing: border-box;
  height: 790px;
  width: 1480px; //ajustar despues
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.centered {
  text-align: center;
}

.vertical-buttons {
  display: flex;
  flex-direction: column; /* Alinea los botones verticalmente */
  align-items: flex-start; /* Alinea los botones a la izquierda */
  gap: 10px; /* Espacio entre botones */
}

button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin: 3px;
}

button.selected {
  background-color: #28a745; /* Cambia el color de fondo del botón seleccionado */
}

.grouped-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 5px;
  transition: background-color 0.3s;
}

/* Estilo para el botón seleccionado */
.grouped-button.selected {
  background-color: #3498db;
  color: white;
}

/* Estilo para los botones no seleccionados */
.grouped-button:not(.selected) {
  background-color: #eaeaea;
  color: #333;
}

.grouped-button:hover:not(.selected) {
  background-color: #ccc;
}

.config-button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #0d6efd;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}
