<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <img class="logo" src="/assets/logo_blanco.jpeg" />
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="#" [routerLink]="['/orders']"
          >Pedidos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#" [routerLink]="['/products']"
          >Productos</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#" [routerLink]="['/customers']"
          >Clientes</a
        >
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link text-white" href="#" [routerLink]="['/info']"
          >Actualizar datos</a
        >
      </li> -->
      <li class="nav-item">
        <div class="dropdown">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            id="dropdown1"
            data-toggle="dropdown"
          >
            Datos y reportes
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" [routerLink]="['/info']"
              >Actualizar información</a
            >
            <a class="dropdown-item" href="http://www.bing.com"
              >Tipo de cliente</a
            >
            <a class="dropdown-item" href="http://www.yahoo.com"
              >Ventas del mes</a
            >
            <a class="dropdown-item" href="http://www.yahoo.com"
              >Ventas de la semana</a
            >
            <a class="dropdown-item" href="http://www.yahoo.com"
              >Ventas del día</a
            >
          </div>
        </div>
      </li>
    </ul>
    <div class="form-inline">
      <button
        class="btn btn-outline-dark text-white justify-content-between"
        type="submit"
        (click)="logOut()"
      >
        Cerrar Sesión
      </button>
    </div>
  </div>
</nav>
