<mat-toolbar color="primary" class="navBar">
  <img
    class="logo"
    src="https://firebasestorage.googleapis.com/v0/b/delivery-udemy-mysql-759e1.appspot.com/o/logo_manantial.png?alt=media&token=6d176e3b-8091-4adf-b613-fa930c33d958"
  />
  <a mat-button [routerLink]="['/orders']">Pedidos</a>
  <a mat-button [routerLink]="['/customers']">Usuarios</a>
  <a mat-button [routerLink]="['/products']">Productos</a>
  <a mat-button [routerLink]="['/info']">Información</a>
  <a
    mat-button
    [routerLink]="['/reports']"
    [queryParams]="{ tipoventas: 'mes' }"
    >Reportes</a
  >
  <a mat-button [routerLink]="['/maps']">Ver Mapa</a>
  <a mat-button [routerLink]="['/homecliente']">Home Clientes</a>
  <a mat-button (click)="openDialog()">Facturero activo</a>
  <div class="spacer"></div>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="updatePassword()">
      <mat-icon>autorenew</mat-icon>
      <span>Cambiar Contraseña</span>
    </button>
    <button mat-menu-item (click)="logOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Cerrar Sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>
