.container {
  width: 400px;
  height: 400px;
  background-color: aqua;
  justify-content: center;
}

.form {
  width: 600px;
  height: 200px;
}

.form-element {
  width: 50%;
  padding: 5px;
}

button {
  width: 40%;
  margin-left: 30px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: dodgerblue;
  justify-content: center;
  color: white;
  border-radius: 5px;
}
mat-form-field,
input {
  margin-top: 20px;
}
.title {
  font-size: 30px;
  font-weight: 500;
  // font-style: italic;
  // color: blue;
  color: green;
}
mat-label {
  color: red;
}
.labeDetail {
  justify-content: center;
  color: blue;
}
